@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url("../static/columbia.jpeg");
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}
.topnav{
	position: absolute;
	top: calc(10% - 35px);
	left: calc(30% - 255px);
	z-index: 2;
	font-family: 'Exo', sans-serif;
	float: left;
	overflow:hidden;
  	background-color: transparent;
}
.topnav div{
	float:left;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: transparent;
  border: 1px solid #4CAF50;
  border-radius: 2px;
  color: white;
}

.topnav a.active {
    background-color: transparent;
     border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
    color: white;
}
.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(30% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}
.wish{
	position: absolute;
	top: calc(60% - 40px);
	left: calc(30% - 255px);
	z-index: 2;
}

.wish div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight: 200;
}
.sendEmail{
	position: absolute;
	top: calc(60% - 10px);
	left: calc(30% - 255px);
	z-index: 2;
}

.sendEmail div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight: 200;
}
.sendAdvertisement{
	position: absolute;
	top: calc(70% - 30px);
	left: calc(30% - 255px);
	z-index: 2;
}

.sendAdvertisement div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight: 200;
}

.wish span{
	float: left;
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight: 200;
	color: #fff !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}
.login .attribute{
	float: left;
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight: 200;
	color:#fff;
	/*padding: 4px;
	margin-top: 10px;*/

}
.login .attributeValue{
	/*float: left;*/
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight: 200;
	color:#fff;
	margin-left: 5em;
}
	/*padding: 4px;
	margin-top: 10px;

}*/
.sentence{
	position: absolute;
	top: calc(60% - 95px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;

}
.sentence div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 200;

}
.sentence button{
	width: 250px;
	height: 35px;
	background: transparent;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;

}
.sentence button:hover{
	opacity: 0.8;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 250px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}
.login button{
	width: 250px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;

}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}
.signUp{
	position: absolute;
	top: calc(80% - 125px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}
.signUp a{
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 12px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;

}
.register{
	position: absolute;
	top: calc(90% - 50px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}
.register a{
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 12px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;

}
.mentionEmail{
	position: absolute;
	top: calc(50% - 60px);
	left: calc(80% - 110px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
	font-family: 'Exo', sans-serif;
	font-size: 10px;
	font-weight: 50;
}
.mentionPassword{
	position: absolute;
	top: calc(50% - 20px);
	left: calc(80% - 110px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
	font-family: 'Exo', sans-serif;
	font-size: 10px;
	font-weight: 50;
}
.registerName{
	position: absolute;
	top: calc(50% - 60px);
	left: calc(80% - 110px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
	font-family: 'Exo', sans-serif;
	font-size: 10px;
	font-weight: 50;
}
.registerEmail{
	position: absolute;
	top: calc(50% - 20px);
	left: calc(80% - 110px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
	font-family: 'Exo', sans-serif;
	font-size: 10px;
	font-weight: 50;
}
.registerPassword{
	position: absolute;
	top: calc(60% - 0px);
	left: calc(80% - 110px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
	font-family: 'Exo', sans-serif;
	font-size: 10px;
	font-weight: 50;
}
::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
.footer{
	position: absolute;
	bottom: calc(5% - 35px);
	left: calc(70% - 20px);
	z-index: 2;
}

.footer div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 10px;
	font-weight: 50;
}